* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}

#menuContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

#tsfButton, #otherButton, #undoGroupSelectedButton, #validateListButton {
    font-size: 1.5em;
    padding: 15px 30px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #5b5e5b;
    border: 5px solid white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    border: 5px solid white;
}
 


#tsfButton:hover, #otherButton:hover, #undoGroupSelectedButton:hover, #validateListButton:hover {
    background-color: #333;
    transform: scale(1.05);
}

#fileInputs {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(45, 46, 48);
    z-index: 5;
    visibility: hidden;
}

input[type="file"] {
    margin: 10px;
    padding: 10px;
    font-size: 1em;
    border: 2px solid #4caf4f45;
    border-radius: 5px;
    background-color: white;
    color: #333;
    cursor: pointer;
    transition: border-color 0.3s;
}

input[type="file"]:hover {
    border-color: #45a049;
}

input[type="file"]:focus {
    outline: none;
    border-color: #2e7d32;
}

#mapContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    visibility: hidden;
    overflow-y: auto;
}

#map {
    width: 66%;
    height: 100%;
    z-index: 1;
}

#googleMapsUrls, #concatCol2Container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
}

#restartButton {
    position: absolute;
    right: 10%;
    top: 10px;
    z-index: 2;
}


#validateListButton{
    position: fixed; bottom: 21%; z-index: 0; left: 1%;
}



#undoGroupSelectedButton {
    z-index: 1;
    position: fixed;
    bottom: 21%;
    z-index: 1;
    left: 1%;
    bottom:10%;
}

#addressTable  {
    width: 100%;
}

#addressTable th, #addressTable td {
    border: 1px solid #333;
    padding: 5px;
    text-align: left;
}

#addressTable th {
    background-color: #333;
    color: white;
    width:100%;
}

#addressTableContainer {
    border-collapse: collapse;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    overflow-y: auto;
    background-color: white;
    z-index: 5;
    box-shadow: -2px 0 5px rgba(0,0,0,0.1);
    width:35%;
}

li {
    list-style: none;
    margin-bottom: 15px;
}


#fusion{
    position: fixed;
    z-index: 0;
    height: 8%;
    width: 65%;
    border-radius: 0%;
    background-color: #5b5e5b;
    border: 5px solid white;
    font-size: 22px;
    bottom: 0%;
    color: white;
}


#copyButton{
    position: fixed;
    z-index: 0;
    bottom: 0%;
    height: 8%;
    width: 65%;
    border-radius: 0%;
    background-color: #5b5e5b;
    border: 5px solid white;
    color: white;
}



/*----------------------Mobile-----------------------------*/
@media (max-width: 900px) {

    #mapContainer {
        position: absolute;
        overflow: hidden;
    }

    #map {
        /* position: absolute; */
        width: 100%;
        /* height: 65%; */
        /* z-index: 0; */
    }
 


    #addressTableContainer {
        position: absolute;
        top: 65%;
        left: 0;
        right: 0;
        background-color: rgb(99 97 97);
        z-index: 1;
        border-top: 1px solid #ccc;
        height: 100%;
        display: block;
        width:100%;
    }

    #undoGroupSelectedButton, #validateListButton {
        font-size: 12px;
    }

    #validateListButton {
        position: absolute;
        bottom: 35%;
        left: 0%;
        z-index: 0;
        width: 31%;
    }

    #undoGroupSelectedButton {
        /* display: none; */
        position: absolute;
        bottom: 35%;
        right: 0%;
        z-index: 0;
        width: 31%;
        font-size: medium;
        
    }

    #addressTable {
        width: 100%;
        display: inline-table;
    }

    #restartButton {
        position: absolute;
        right: 8%;
        top: 6%;
        z-index: 2;
        /* width: 31%; */
        font-size: medium;
        
    }



    table {
        border-collapse: collapse;
    }

    th, td {
        padding: 10px;
    }

    td li {
        padding-left: 10%;
        padding-right: 10%;
        list-style: none;
    }

    td a {
        font-size: 25px;
        color: white;
    }

    #fusion{
        height: 6%;
        width: 100%;
        border-radius: 0%;
        background-color: #5b5e5b;
        border: 5px solid white;
        font-size: 12px;
        bottom: 0%;
        z-index: 0;
    }

    #copyButton{
        height: 6%;
        width: 100%;
        border-radius: 0%;
        background-color: #5b5e5b;
        border: 5px solid white;
        font-size: 12px;
        bottom: 0%;
        z-index: 0;
    }
}


